.MainTab {
    position: relative;
    top: 10vh;
    width: 90vw;
    height: 80vh;
    margin:auto;
    background-color: white;
}

.tabs {
    position: relative;
    top: 10vh;
    left: 10vh;
    background-color: blue;
    color: white;
}

.hide{
    visibility:hidden;
}

.show{
    visibility: visible;
}