.headerAbout {
    position: relative;
    top: 15vh;
    left: 5vw;

}

.paraAbout {
    width: 60vw;
    height: 60vh;
    background-color: rgba(234, 229, 238, 0.459);
    position: relative;
    top:16vh;
    float:left;
    left: 5vw;
    border-radius:10px;
}

.paraText {
    margin-left: 10px;
    margin-top:10px;
}

.logoT {
    width: 180px;
    height: 180px;
    margin-top: 25vh;
    float:left;  
}
.logoF{
    width: 100px;
    height: 100px;
    margin-top: 30vh;
    float:left;  
}
.logoCh {
    width: 100px;
    margin-top: 30vh;
    margin-left: 50px;
    float:left;  
}

.ryan {
    float:right;
    margin-right: 10vw;
    margin-top: 10vh;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
}