.user {
    border-right-style: solid;
    border-width: 1px;
    border-color: black;
}

.roew {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.first{
    width: 20vw;
    border-right-style: solid;
    border-width: 1px;
    border-color: black;
}
.second{
    width: 25vw;
    border-right-style: solid;
    border-width: 1px;
    border-color: black;
}
.email{
    width: 25vw;
    border-right-style: solid;
    border-width: 1px;
    border-color: black;
}

.heade {
    background-color: black;
    color:white;
    font-size: 20px;
    border-color: white;
}
.third{
    width: 10vw;
    

}