.user {
    border-right-style: solid;
    border-width: 1px;
    border-color: black;
}

.roew {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.first{
    width: 300px;
    border-right-style: solid;
    border-width: 1px;
    border-color: black;
}
.second{
    width: 400px;
    border-right-style: solid;
    border-width: 1px;
    border-color: black;
}
.email{
    width: 300px;
    border-right-style: solid;
    border-width: 1px;
    border-color: black;
}


.third{
    width: 75px;

}