.container {
    position: fixed;
    top: 0px;
    width: 100%;
    background: black;
    height: 56px;
}
.navigation {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    color: white;
    font-size: 20px;
    padding: 0 10px;
}

.title {
    color: white;
    font-size: 45px;
}

.spacer {
    flex: 1;
}

.navItems {
    padding: 5px;
}

.navItems ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navItems ul li {
    padding: 5px;
}
.navItems ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navItems a:hover,
.navItems a:active{
    color: orange;
}

.fa fa-shopping-cart {
    font-weight: bold;
}
