.columns {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    margin-left: 5px;
}

.column-left {
    background-color: whitesmoke;
    width: 20%;
    height: 100vh;
    float: left;
    margin: 5px;
}
.column-right {
    background-color: transparent;
    min-width: 70%;
    margin-bottom: 5px;
}
